<h1 class="mb-4"><%= @property_presenter.name %></h1>

<div class="mb-3">
  <% PropertyPresenter::BASIC_INFO.each do |name| %>
    <div>
      <span><b><%= name.humanize %></b></span>: <span><%= @property_presenter.send(name) %></span>
    </div>
  <% end %>
</div>

<div class="mb-3">
  <% PropertyPresenter::STATS_INFO.each do |name| %>
    <div>
      <span><b><%= name.humanize %></b></span>: <span><%= @property_presenter.send(name) %></span>
    </div>
  <% end %>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Floor</th>
      <th>Base Rent</th>
    </tr>
  </thead>
  <tbody>
    <% @tenants.each do |tenant| %>
      <tr class="tenant-item">
        <td><%= tenant.name %></td>
        <td><%= tenant.floor %></td>
        <td><%= tenant.base_rent %></td>
      </tr>
    <% end %>
  </tbody>
</table>
