<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <title><%= yield(:page_title).presence || t('app.default_title') %></title>

    <%= render partial: 'layouts/js_setup' %>
    <%= render partial: 'layouts/google_analytics' %>

    <%= csrf_meta_tags %>
    <%= render partial: 'layouts/favicon' %>
    <link rel='manifest' href='/manifest.json'>

    <%= stylesheet_link_tag 'vendor', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'vendor', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render partial: 'layouts/flash' %>
    <%= yield %>
  </body>
</html>
